@charset "utf-8";
/* 초기화 */
* {
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
}
ul,
li,
ol {
   list-style: none;
}
/* common */
.container {
   margin: 0 auto;
   max-width: 1200px;
   overflow: hidden;
   font-family: 'Noto Sans KR', sans-serif;
}
/* header */
header {
   width: 100%;
   height: 80px;
   margin: 14px 0 0 0;
   box-sizing: border-box;
}
h1 img {
   width: 66px;
}
h1 {
   float: left;
   margin: 0 75px 0 0;
}
nav {
   float: left;
   overflow: hidden;
}
nav ul li {
   float: left;
   margin: 16px 58px 0 0;
   font-size: 18px;
   font-weight: 300;
}
nav ul li a {
   color: #292929;
}
nav_r {
   float: right;
   overflow: hidden;
}
nav_r ul li {
   float: right;
   margin: 20px 0 0 0;
   font-size: 18px;
   font-weight: 300;
}
nav_r ul li img {
   width: 24px;
   height: 24px;
   background-position: center;
   background-size: cover;
}
.nav_icon {
   float: right;
   width: 40px;
   height: 40px;
}
/* nav hover */
nav ul li a:hover {
   color: #ff7b00;
}
/* section */
.section {
    height: 1200px;
}

.map_explanation {
   margin: 50px 0 0 0;
}
.map1 {
   width: 1200px;
   height: 72px;
   margin: 20px 0 50px 0;
}
.map2 {
   width: 1200px;
   height: 72px;
   margin: 20px 0 20px 0;
}
.map3 {
   width: 1200px;
   height: 72px;
   margin: 0px 0 20px 0;
}
.map_textbox1 {
   float: left;
   width: 1128px;
   height: 72px;
   
}
.map_textbox2 {
   float: left;
   width: 1128px;
   height: 72px;
   
}
.icon1 {
   float: left;
   width: 72px;
   height: 72px;
   background-color: #fce9cd;
   border-radius: 10px;
   background-image: url(../resources/images/jungenjin/map_marker_icon.svg);
   background-position: center;
   background-size: 40px cover;
   box-sizing: border-box;
   background-repeat: no-repeat;
}
.icon2 {
   float: left;
   width: 72px;
   height: 72px;
   background-color: #fce9cd;
   border-radius: 10px;
   background-image: url(../resources/images/jungenjin/subway_regular_icon.svg);
   background-position: center;
   background-size: 40px cover;
   box-sizing: border-box;
   background-repeat: no-repeat;
}
.icon3 {
   float: left;
   width: 72px;
   height: 72px;
   background-color: #fce9cd;
   border-radius: 10px;
   background-image: url(../resources/images/jungenjin/bus_icon.svg);
   background-position: center;
   background-size: 40px cover;
   box-sizing: border-box;
   background-repeat: no-repeat;
}
/* font */
.title {
    text-align: center;
   font-size: 38px;
   font-weight: bold;
   margin: 100px 0 100px 0;
   color: #161a1d;
 }
 h3 {
   font-size: 24px;
   font-weight: 300;
 }
 span {
   font-size: 16px;
   font-weight: 700;
   padding: 0 12px 0 30px;
 }
 .text1 {
   padding: 14px 0 0 0;
   line-height: 1em;
 }
 .text2 {
   padding: 28px  0 0 0;
 }
/* footer */
footer {
    clear: both;
    width: 100%;
    min-height: 246px;
    background-color: #495057;
    clear: both;
    margin: 100px 0 0 0;
 }
 .text7 {
    font-size: 20px;
    font-weight: 100;
    color: #f8f9fa;
 }
 .part_4box1 {
    float: left;
    width: 277px;
    height: 155px;
    margin: 27px 0 0 0;
 }
 .text8 {
    font-size: 36px;
    font-weight: 800;
    color: #161a1d;
 }
 .text9 {
    font-size: 12px;
    font-weight: 300;
    color: #adb5bd;
 }
 .part_4box2 {
    float: left;
    width: 585px;
    height: 155px;
    margin: 27px 0 0 30px;
 }
 .boximg5 {
    float: left;
    width: 175px;
    height: 114px;
    background-image: url(../resources/images/jungenjin/bakery3.jpg);
    background-position: center;
    margin: 9px 0 0 0;
 }
 .text_box3 {
    float: left;
    width: 380px;
    height: 114px;
    margin: 9px 0 0 30px;
 }
 .text10 {
    font-size: 14px;
    font-weight: bold;
    color: #dee2e6;
 }
 .part_4box3 {
    float: left;
    width: 277px;
    height: 155px;
    margin: 27px 0 0 30px;
 }
 .iconbox1 {
    float: left;
    width: 24px;
    height: 24px;
    background-image: url(../resources/images/jungenjin/youtube_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: invert(7%) sepia(7%) saturate(1352%) hue-rotate(163deg) brightness(95%) contrast(93%);
 }
 .iconbox2 {
    float: left;
    width: 24px;
    height: 24px;
    margin: 0 0 0 15px;
    background-image: url(../resources/images/jungenjin/twitter_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: invert(7%) sepia(7%) saturate(1352%) hue-rotate(163deg) brightness(95%) contrast(93%);
 }
 .iconbox3 {
    float: left;
    width: 24px;
    height: 24px;
    margin: 0 0 0 15px;
    background-image: url(../resources/images/jungenjin/instagram_icon.svg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    filter: invert(7%) sepia(7%) saturate(1352%) hue-rotate(163deg) brightness(95%) contrast(93%);
 }