@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Single+Day&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "맑은 고딕";
    font-size: 14px;
}



.header{
    margin: 30px 0px 0px 30px;
    width: 1600px;
    height: 300px;
    background-image: url(../resources/son/macaroons-g73dc71779_1920.jpg);
    overflow: hidden;
    float: left;
}

#logintab{
    margin-right: 20px;
}

#logintab > li {
    float: right;
    padding: 5px;
    margin-right: 10px;
    
}



.logo{
    margin: 20px;
    
    height: 160px;
    width: 240px;
    border: 1px solid orange;
    float: left;
}

.logoimg{
    margin: 0px;
    padding: 10px 0px 0px 10px;
    width: 70px;
    height: 100px;
    background: lightyellow;
    float: left;
}

.logoname{
    font-family: 'Single Day', cursive;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background: lightyellow;
    
    float: left;

}

.navi > ul> li {

    margin-left: 0px;
    margin-top: 90px;
    width: 200px;
    height: 30px;
    float: left;
    border-left: 1px solid white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white
    ;
    
    
}

.navi > ul> li:last-child {
    border-right:1px solid white; ;
}

.navi>ul{
    display: inline;
}

.navi{
    margin-top: 150px;
    float: initial;
    
    
}

.menu_box>a{
    color: white;
    text-align: center;
    ;

}




.hbox{
    width: 200px;
    float: left;
    margin: 15px 0 0 20px;
    color: darkgray;
}

.searchboximg{
    margin-top: 100px;
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: white;
}


/* 헤더 종료, 자주묻는 질문 시작 */
.FAQ{
    width: 1600px;
    height: 50px;
    background-color: skyblue;
    float: left;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 50px;
}

.FAQWORD{
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px !important;
}

/* 주소태그 */



.sectionmap{
    margin-top: 100px;
    margin-left: 30px;
    padding-top: 350px;
    width: 1600px;
    height: 600px;
    background: #EAEAEA ;
}
    .juso{
       
        width: 1600px;
        height: 300px;
        text-align: center;
        font-weight: bold;

        margin-left: 30px;
        background: #EAEAEA;
       
        
    }

    .juso > li {
        margin-left: -100px;
    }


    




    /* 자주묻는 질문 바텀 끝, 기타리스트 시작 */
    
    .QnAlist{
        width: 1100px;
        height: 20px;
        background: lightgray;
        clear: both;
        margin-left: 30px;
        padding-left: 500px;
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey; 
    }



    .QnAlist>ul>li{
        border-left: 1px solid black;
        margin-left: 15px;
        padding-left: 15px;
        float: left;
        text-align: center;
    }

    .QnAlist>ul>li:last-child{
        padding-right: 15px;
        border-right:1px solid black; ;
    }

    /* 기타리스트 끝 푸터 시작 */
    
    .footer_box{
        margin-left: 30px;
        width: 1600px;
        height: 200px;
        background: #EAEAEA;
        color: black;
        
    }
    
    .down_logo{
        margin-top: 20px;
        margin-left: 200px;
        width: 20%;
        height: 100%;
        float: left;

    }

    /* copyright */

    .copyright{
        margin-top: 20px;
        padding-left: 150px;
        padding-right: 150px;
        width: 20%;
        height: 80%;
        float: left;
        border-left: 2px solid darkgray;
        border-right: 2px solid darkgray;


    }
    
    /* SNS */
    .sns{
        margin-left: 100px;
        width: 20%;
        height: 100%;
        float: right;

    }




    .instar{
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 60px;
        margin-right: 10px;
    }

    .youtube{
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 60px;
        margin-right: 10px;
      
    }

    .twitter{
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 60px;

      
    }